<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách người dùng</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav pl-2">
        <li class="nav-brand active">
            <a class="nav-link" href="/admin/">ADMIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/user">Người dùng</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/admin/product">Sản phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/category">Phân loại sản phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/logout">Đăng xuất</a>
        </li>
    </ul>
</nav>
<div align="center">
<!--    <div><p th:text="${sortField} ${sortDir}"></p></div>-->
        <h1>Danh sách sản phẩm</h1>
        <h4>Thêm sản phẩm mới <a href="/admin/product/add">tại đây</a></h4>
         <form action="/admin/product/search" method="get">
             <input type="hidden" name="sortField" value="name">
             <input type="hidden" name="sortDir" value="asc">
            Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"  />
            &nbsp;
            <input type="submit" value="Search" />
            &nbsp;
            <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
        </form>
        <table class="table" style="width: 80%">
            <thead>
            <tr>
                <th scope="col">STT</th>
                <th th:if="${sortDir == 'asc'}" scope="col" ><a th:href="@{'/admin/product/pagingandsort/0?sortField=name&sortDir=desc'}">Tên sản phẩm</a></th>
                <th th:if="${sortDir == 'desc'}" scope="col" ><a  th:href="@{'/admin/product/pagingandsort/0?sortField=name&sortDir=asc'}">Tên sản phẩm</a></th>
                <th scope="col">Ảnh</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col">Thời gian cập nhật</th>
                <th colspan="2">Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, iStat:${productsList}">
                <th scope="row" th:text="${iStat.count}">1</th>
                <td ><a th:text="${product.name}" th:href="@{'/admin/product/detail/' + ${product.id}}"></a></td>
<!--                <td th:text="${product.getImg()}">-->
                <td>

<!--                    <img src="" th:alt="${product.name}" style="width: 50px">-->
                    <img th:src="@{'/getimage/'+${product.getImg()}}" width="70px" height="70px">
                </td>
                <td th:text="${product.getCreatedAt()}">1</td>
                <td th:text="${product.getUpdateAt()}">1</td>
                <td>
                    <button type="button" class="btn btn-warning"><a th:href="@{'/admin/product/edit/' + ${product.id}}">Chỉnh sửa</a></button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#accountModel'+${product.id}" ><a>Xóa</a></button>
                </td>
            </tr>
            </tbody>
        </table>

</div>

<!--th:classappend="${currentPage == i -1 ? 'active':''}"-->

        <ul class="pagination justify-content-center">
            <li th:if="${currentPage!=0}" class="page-item">
                <a th:if="${keyword == null && sortDir=='asc'}"
                   th:href="@{'/admin/product/pagingandsort/'+${currentPage - 1}+ '?sortField=name&sortDir=asc'}" class="page-link" href="#">Previous</a>
                <a th:if="${keyword == null && sortDir=='desc'}"
                   th:href="@{'/admin/product/pagingandsort/'+${currentPage - 1}+ '?sortField=name&sortDir=desc'}" class="page-link" href="#">Previous</a>
                <a th:if="${keyword != null}"
                   th:href="@{'/admin/product/searching/'+${currentPage - 1}}" class="page-link" href="#">Previous</a>
            </li>
            <li th:each="i: ${#numbers.sequence(1,totalPages)}"  class="page-item">
                <a th:if="${keyword == null && sortDir=='asc'}" th:href="@{'/admin/product/pagingandsort/'+ ${i - 1} + '?sortField=name&sortDir=asc'}" th:style="${i - 1 == currentPage} ? 'color:black'" class="page-link" href="#"><span th:text="${i}"></span></a>
                <a th:if="${keyword == null && sortDir=='desc'}" th:href="@{'/admin/product/pagingandsort/'+ ${i - 1} + '?sortField=name&sortDir=desc'}" th:style="${i - 1 == currentPage} ? 'color:black'" class="page-link" href="#"><span th:text="${i}"></span></a>
                <a th:if="${keyword != null}" th:href="@{'/admin/product/pagingandsort/'+ ${i - 1} +'?keyword=' + ${keyword}}" class="page-link" href="#"><span th:text="${i}"></span></a>
            </li>
            <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                <a th:if="${keyword == null && sortDir == 'asc'}" th:href="@{'/admin/product/pagingandsort/'+ ${currentPage + 1} + '?sortField=name&sortDir=asc'}" class="page-link" href="#"><span>Next</span></a>
                <a th:if="${keyword == null && sortDir == 'desc'}" th:href="@{'/admin/product/pagingandsort/'+ ${currentPage + 1} + '?sortField=name&sortDir=desc'}" class="page-link" href="#"><span>Next</span></a>
                <a th:if="${keyword != null}" th:href="@{'/admin/product/paging/'+ ${currentPage + 1} +'?keyword=' + ${keyword}}" class="page-link" href="#"><span>Next</span></a>
            </li>
        </ul>
    <!-- Modal -->
    <div class="modal fade" th:each="product:${productsList}" th:attr="id='accountModel'+${product.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn xóa sản phẩm <b th:text="${product.name}"></b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <form method="post" th:action="'/admin/product/delete/' + ${product.id}">
                        <button type="submit" class="btn btn-danger" data-toggle="modal">Xóa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay ="2000" th:hidden="!${message}">
    <div class="toast-header">
        <strong class="mr-auto">Thông báo</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body" th:text="${message}">
    </div>
</div>
</body>
<style>
    .btn a{
        text-decoration: none;
        color: white;
    }

</style>
<script>
    $(document).ready(function (){
        $(".toast").toast("show")
    })


</script>

<script type="text/javascript">
    function clearSearch() {
        window.location = "/admin/product/pagingandsort/0?sortField=name&sortDir=asc";
    }
</script>
</html>