<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin người dùng</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="container">
  <div class="form">
    <h2>Thông tin người dùng</h2>
    <form th:action="@{'/user/update-info/'+${id}}" th:object="${user}" method="post">
      <div class="form-group">
        <label for="username">Tên người dùng:</label>
        <input th:value="${user_exits}? ${user_exits.fullName}: ''" type="text" class="form-control" placeholder="Nhập tên người dùng" id="username" name="fullName">
      </div>
      <div class="form-group">
        <label for="phone">Số điện thoại:</label>
        <input th:value="${user_exits}? ${user_exits.phoneNumber}: ''" type="tel" class="form-control" placeholder="Nhập số điện thoại" id="phone" name="phoneNumber">
      </div>
      <div class="form-group">
        <label for="address">Địa chỉ:</label>
        <input th:value="${user_exits}? ${user_exits.address}: ''" type="text" class="form-control" placeholder="Nhập địa chỉ của bạn" id="address" name="address">
      </div>
      <div class="form-group">
        <label for="email">Nhập email:</label>
        <input th:value="${user_exits}? ${user_exits.email}: ''" type="email" class="form-control" placeholder="Nhập email của bạn" id="email" name="email">
      </div>
      <button type="submit" class="btn btn-primary">Đăng kí</button>
      <button th:if="${user_exits}" type="button" class="btn btn-primary" ><a href="/">Quay lại</a></button>
      <br>

      <br>
      <div th:if ="${message}" class="alert alert-danger" role="alert" >
        <p th:text="${message}"></p>
      </div>
    </form>
  </div>
</div>

</body>
</html>
