<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>
    .main{
        display: flex;
        justify-content: space-around;
    }
    .table{
        background-color: #fdfdfd;
    }
    .payment{
        float: right;
        padding-right: 10%;
    }

</style>
<body>
<!-- header -->
<div class="header">
    <!-- logo -->
    <nav class="navbar navbar-expand-md bg-white navbar-light">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <img src="/getimage/logo.png" width="210" height="70" style="padding-left: 50px;">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto" th:switch="${account == null}">

                <li class="nav-item dropdown" id="games" style="padding-top: 8px">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="/getimage/drink_icon.png" style="width:50px"> Đồ uống</a>
                    <div class="dropdown-menu">
                        <a th:each="category:${categories}" th:text="${category.getName()}" class="dropdown-item"
                           href="#" th:href="@{'/category/'+${category.id}}">Action</a>
                    </div>
                </li>
                <li class="nav-item" id="apps">
                    <a class="nav-link" href="/cart"> <img src="/getimage/basket-cart-icon.png" style="width:50px">Giỏ hàng</a>
                </li>
                <li th:case="true" class="nav-item" id="users" style="padding-right: 20px;">
                    <a class="nav-link" href="/user/login"> <img src="/getimage/user_icon.png" style="width:50px">Đăng
                        nhập</a>
                </li>
                <li th:case="false" class="nav-item dropdown" th:id="users" style="padding-right: 20px;margin-top: 10px">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="/getimage/user_icon.png" style="width:50px"
                             th:text="${account.get().username.toUpperCase()}"></a>
                    <div class="dropdown-menu" style="">
                        <a class="dropdown-item" th:href="@{'/user/update-info/'+${account.get().id}+'?view=true'}">Tài khoản</a>
                        <a class="dropdown-item" href="/user/changepassword">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="/cart/history">Lịch sử mua hàng</a>
                        <div class="dropdown-divider"></div>
                        <a th:if="${account.get().getRole()=='ROLE_ADMIN'}" class="dropdown-item" href="/admin" style="color: green">Quản lý</a>
                        <a class="dropdown-item" href="/user/logout" style="color: red">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- main -->
<div class="main" th:switch="${cart.getCartItem() == null}">

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay ="2000" th:hidden="!${message}">
        <div class="toast-header">
            <strong class="mr-auto">Thông báo</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" th:text="${message}">
        </div>
    </div>


    <h2 th:case="true">Bạn chưa thêm sản phẩm nào vào giỏ hàng</h2>
    <table th:case="false" class="table" style="width: 80%">
            <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Giá</th>
                <th scope="col">Số lượng </th>
                <th colspan="2">Chức năng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, iStat:${cart.getCartItem()}">
                <th scope="row" th:text="${iStat.count}">1</th>
                <td th:text="${item.getProduct().name}">1</td>
                <td>
                    <img th:src="@{'/getimage/'+${item.getProduct().img}}" width="70px" height="70px">
                </td>
                <td th:text="${item.price}">1</td>
                <td th:text="${item.quantity}">1</td>
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" th:attr="data-target='#productModelEdit'+${item.id}">Sửa</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#accountModel'+${item.id}" ><a>Xóa</a></button>
                </td>
                <div class="modal fade" th:attr="id='accountModel'+${item.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Xác nhận</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn muốn xóa <b th:text="${item.product.name}"></b> khỏi giỏ hàng?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <form method="post" th:action="'/cart/delete/' + ${item.id}">
                                    <button type="submit" class="btn btn-danger" data-toggle="modal">Xóa</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade"  th:attr="id='productModelEdit'+${item.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel3">Sửa đơn hàng</h5>
                                <button  type="button" class="addToCart" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" th:action="'/cart/edit/' + ${item.id}">
                                <div class="modal-body">
                                    <div class="tab-content">
                                        <dt>
                                            <div class="icon">
                                                <img th:alt="${item.product.name}" th:src="@{'/getimage/'+${item.product.img}}"
                                                     width="80px" height="80px">
                                            </div>
                                        </dt>
                                        <dd>
                                            <div class="title-des">
                                                <h1 th:text="${item.product.name}">FaceBook</h1>
                                            </div>
                                            <div class="price">
                                                <label>Chọn kích cỡ:</label>
                                                <div class="price-choose">
                                                    <input type="radio" id="priceS" name="price" th:value="${item.product.price.sizeS}"
                                                           th:checked="${item.price==item.product.price.sizeS}">
                                                    <label for="priceS" th:text="'Size S: '+${item.product.price.sizeS}">Huey</label>
                                                </div>
                                                <div class="price-choose">
                                                    <input type="radio" id="priceM" name="price" th:value="${item.product.price.sizeM}"
                                                           th:checked="${item.price==item.product.price.sizeM}">
                                                    <label for="priceM" th:text="'Size M: '+${item.product.price.sizeM}">Dewey</label>
                                                </div>

                                                <div class="price-choose">
                                                    <input type="radio" id="priceL" name="price" th:value="${item.product.price.sizeL}"
                                                           th:checked="${item.price==item.product.price.sizeL}">
                                                    <label for="priceL" th:text="'Size L: '+${item.product.price.sizeL}">Louie</label>
                                                </div>
                                                <div class="quantity">
                                                    <label for="quantity">Số lượng</label>
                                                    <input id = "quantity" type="number" name="quantity" th:value="${item.quantity}">
                                                </div>
                                            </div>
                                        </dd>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-success" data-toggle="modal">Thay đổi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </tr>

            </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" th:attr="id='payModel'+${cart.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="post" th:action="'/cart/pay/' + ${cart.id}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="text-align: center; font-size: 24px">THÔNG TIN NHẬN HÀNG</p>
                        <div class="form-group">
                            <label for="username">Tên người dùng:</label>
                            <input th:value="${user_exits}? ${user_exits.fullName}: ''" type="text" class="form-control" placeholder="Nhập tên người dùng" id="username" name="fullName">
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại:</label>
                            <input th:value="${user_exits}? ${user_exits.phoneNumber}: ''" type="tel" class="form-control" placeholder="Nhập số điện thoại" id="phone" name="phoneNumber">
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ:</label>
                            <input th:value="${user_exits}? ${user_exits.address}: ''" type="text" class="form-control" placeholder="Nhập địa chỉ của bạn" id="address" name="address">
                        </div>
                        <div class="form-group">
                            <label for="email">Nhập email:</label>
                            <input th:value="${user_exits}? ${user_exits.email}: ''" type="email" class="form-control" placeholder="Nhập email của bạn" id="email" name="email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-success" data-toggle="modal">Thanh toán</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="payment" th:if="${cart.getCartItem() != null}">
    <p >Tổng tiền: <b th:text="${cart.total.toString().replace('.0',' VND')}"></b> </p>
    <button type="button" class="btn btn-success" data-toggle="modal" th:attr="data-target='#payModel'+${cart.id}"><a>Thanh toán</a></button>
</div>

<div class="clear"></div>
<!-- footer -->
<div class="footer">
    <h>
        Copyright by team D.A.T
    </h>
</div>
</body>
<script>
    $(document).ready(function (){
        $(".toast").toast("show")
    })
</script>
</html>