<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${category.get().name}"></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!--<script src="https://kit.fontawesome.com/9a81947f10.js" crossorigin="anonymous"></script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- header -->
<div class="header">
  <!-- logo -->
  <nav class="navbar navbar-expand-md bg-white navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img src="/getimage/logo.png" width="210" height="70" style="padding-left: 50px;">
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto" th:switch="${account == null}">

        <li class="nav-item dropdown" id="games" style="padding-top: 8px">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
             aria-haspopup="true" aria-expanded="false">
            <img src="/getimage/drink_icon.png" style="width:50px"> Đồ uống</a>
          <div class="dropdown-menu">
            <a th:each="category:${categories}" th:text="${category.getName()}" class="dropdown-item"
               href="#" th:href="@{'/category/'+${category.id}}">Action</a>
          </div>
        </li>
        <li class="nav-item" id="apps">
          <a class="nav-link" href="/cart"> <img src="/getimage/basket-cart-icon.png" style="width:50px">Giỏ hàng</a>
        </li>
        <li th:case="true" class="nav-item" id="users" style="padding-right: 20px;">
          <a class="nav-link" href="/user/login"> <img src="/getimage/user_icon.png" style="width:50px">Đăng
            nhập</a>
        </li>
        <li th:case="false" class="nav-item dropdown" id="users" style="padding-right: 20px;margin-top: 10px">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
             aria-haspopup="true" aria-expanded="false">
            <img src="/getimage/user_icon.png" style="width:50px"
                 th:text="${account.get().username.toUpperCase()}"></a>
          <div class="dropdown-menu" style="">
            <a class="dropdown-item" th:href="@{'/user/update-info/'+${account.get().id}+'?view=true'}">Tài khoản</a>
            <a class="dropdown-item" href="/user/changepassword">Đổi mật khẩu</a>
            <a class="dropdown-item" href="/cart/history">Lịch sử mua hàng</a>
            <div class="dropdown-divider"></div>
            <a th:if="${account.get().getRole()=='ROLE_ADMIN'}" class="dropdown-item" href="/admin" style="color: green">Quản lý</a>
            <a class="dropdown-item" href="/user/logout" style="color: red">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- main -->
<div class="main">
  <div class="row" id="row-1">
    <div class="col-lg-12 title-item">
      <div class="search2">
        <form action="/search" class="form-inline" method="GET">
          <h style="color: rgb(33, 202, 33); font-weight: bold; font-size:18px ; margin-bottom:8px">Bạn Cần
            Tìm Gì?
          </h>
          <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search" name="keyword">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row" id="row-2">

    <div class="col-lg-8 title-item">
      <!-- title games hot -->
      <div class="title">
        <a href="" th:text="${category.get().name} +' >>'">Hot Games >></a>
      </div>
      <!-- games hot list -->
      <div class="list-game">
        <div class="card" th:each="product, indexProduct:${products}">
          <img th:src="@{'/getimage/'+${product.getImg()}}" th:alt="product.name" width="90px" height="90px">
          <h th:text="${product.name}">Mapple Story M</h>
          <p th:text="${product.getPrice().getSizeS()}+' VND'" class="price">Free</p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <div class="but">
            <a th:href="@{'/detail/'+${product.getId()}}"><button style="width: 70%; float: left">Xem chi tiết</button></a>
            <button data-toggle="modal" th:attr="data-target='#productModel'+${product.id}" style="width: 30%"><i class="fa fa-shopping-cart fa-th-large" aria-hidden="true"></i></button>
          </div>

        </div>
      </div>
    </div>
    <div th:each="product, indexProduct:${products}" class="modal fade" th:attr="id='productModel'+${product.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm vào giỏ hàng</h5>
            <button  type="button" class="addToCart" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" th:action="'/cart/add/' + ${product.id}">
            <div class="modal-body">
              <div class="tab-content">
                <dt>
                  <div class="icon">
                    <img th:alt="${product.name}" th:src="@{'/getimage/'+${product.img}}"
                         width="80px" height="80px">
                  </div>
                </dt>
                <dd>
                  <div class="title-des">
                    <h1 th:text="${product.name}">FaceBook</h1>
                  </div>
                  <div class="price">
                    <label>Chọn kích cỡ:</label>
                    <div class="price-choose">
                      <input type="radio" id="priceS" name="price" th:value="${product.price.sizeS}"
                             checked>
                      <label for="priceS" th:text="'Size S: '+${product.price.sizeS}">Huey</label>
                    </div>

                    <div class="price-choose">
                      <input type="radio" id="priceM" name="price" th:value="${product.price.sizeM}">
                      <label for="priceM" th:text="'Size M: '+${product.price.sizeM}">Dewey</label>
                    </div>

                    <div class="price-choose">
                      <input type="radio" id="priceL" name="price" th:value="${product.price.sizeL}">
                      <label for="priceL" th:text="'Size L: '+${product.price.sizeL}">Louie</label>
                    </div>
                    <div class="quantity">
                      <label for="quantity">Số lượng</label>
                      <input id = "quantity" type="number" name="quantity" value="1">
                    </div>
                  </div>
                </dd>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-success" data-toggle="modal">Thêm</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="clear"></div>
<!-- footer -->
<div class="footer">
  <h>
    Copyright by team D.A.T
  </h>
</div>
</body>
</html>